{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Matéria | {{ block.super }}
{% endblock %}
{% block container %}
<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Matéria</h1>
        </div>
        <ul class="list-group">

            {% for theme in themes %}
                <a href="{% url 'core:update_theme' theme.id %}">
                    <li class="list-group-item"> {{ theme.description }}</li>
                </a>
            {% endfor %}
        </ul>

         <a href="{% url 'core:create_theme' %}"> <button class="btn btn-primary" > Nova Matéria </button></a>
    </div>
</div>
{% endblock %}